*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(images/blockfuse-bg_img.svg), black;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(images/backgroud-send.svg);
    position: relative;
}

.nav-bar img {
    width: 40px;
    height: 40px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    justify-self: center;
    background-color: #2F2E34;
    position: sticky;
    top: 30px;
    height: 60px;
    align-items: center;
    padding: 0 30px;
}

.nav-bar ul {
    display: flex;
    list-style-type: none;

}

.nav-bar li {
    padding: 0 10px;
    font-size: 12px;

}

.nav-bar a {
    text-decoration: none;
    color: white;
}

.nav-btn {
    display: flex;
    gap: 20px;
}

#nav-btn1 {
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    border: 1px solid purple;
    font-size: 15px;
}

#nav-btn2 {
    width: 150px;
    height: 40px;
    background-color: #B74FDD;
    color: white;
    border: none;
    font-size: 15px;
}

#nav-btn img {
    position: relative;
    top: 1px;
}

.hero-unlock {
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    color: white;
    font-family: sans-serif;
}

.hero-unlock h1 {
    font-size: 60px;
    font-weight: lighter;
}

.hero-unlock p {
    font-size: 20px;
}

#hero-unlock-btn {
    width: 250px;
    height: 50px;
    background-color: #B74FDD;
    color: white;
    border: none;
    font-size: 15px;
}



