* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background: url(images/blockfuse-bg_img.svg), black;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    /* font-family: sans-serif; */
}

.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/backgroud-send.svg);
    position: relative;
    /* top: 50px; */
}

.nav-bar img {
    width: 40px;
    height: 40px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 95%;
    justify-self: center;
    background-color: #2F2E34;
    position: sticky;
    top: 30px;
    height: 60px;
    align-items: center;
    padding: 0 30px;
    z-index: 1;
}

.nav-bar ul {
    display: flex;
    list-style-type: none;

}

.nav-bar li {
    padding: 0 10px;
    font-size: 12px;

}

.nav-bar a {
    text-decoration: none;
    color: white;
}

.nav-btn {
    display: flex;
    gap: 20px;
}

#nav-btn1 {
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    border: 1px solid purple;
    font-size: 15px;
}

#nav-btn2 {
    width: 150px;
    height: 40px;
    background-color: #B74FDD;
    color: white;
    border: none;
    font-size: 15px;
}

#nav-btn img {
    position: relative;
    top: 1px;
}

.hero-unlock {
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    color: white;
    font-family: sans-serif;
}



.hero-unlock h1 {
    font-size: 50px;
    font-weight: lighter;
    /* z-index: 1; */

}

.hero-unlock p {
    font-size: 20px;
}

#hero-unlock-btn {
    width: 250px;
    height: 50px;
    background-color: #B74FDD;
    color: white;
    border: none;
    font-size: 15px;
}

.at .at-p {
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    margin-top: 50px;
}

.at {
    /* padding: 50px; */
}

.at-img .img1 {
    margin-left: 150px;
    width: 250px;
    /* position: relative; */

}

.at-img {
    position: relative;
}

.at-img .img2 {
    position: absolute;
    right: 20px;
    top: 20px;
    /* bottom: 10px; */
    width: 90%;
    height: 500px;
    align-items: center;
    margin: 50px;

}

.our-bootcamp {
    position: absolute;
    top: 250%;
    color: white;
}

.our-bootcamp h2 {
    text-align: center;
    padding: 30px;
    font-size: 30px;
}

/* .our-bootcamp .our-bootcamp-h2 {

} */

.ourBootcamp-flex {
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 10px;
    margin: 50px;
}

.ourBootcamp-flex .ourbootcamp-flexStyle {
    border: 1px solid purple;
    align-items: center;
    margin: 10px;
    padding: 20px;
    width: 100%;
    height: 655px;


}

.ourBootcamp-flex .ourbootcamp-flexStyle .ourBootcamp-h3-1 {
    /* background-color: blue */
    height: 200px;
    justify-content: center;
    background-image: url(images/bootcamp-img1.jpeg);
}

.ourBootcamp-flex .ourbootcamp-flexStyle .ourBootcamp-h3-2 {
    /* background-color: blue */
    height: 200px;
    justify-content: center;
    background-image: url(images/bootcamp-img2.jpeg);
}

.ourBootcamp-flex .ourbootcamp-flexStyle .ourBootcamp-h3 h3 {
    text-align: center;

}

.ourbootcamp-flexStyle .ourBootcamp-h3-1,
.ourBootcamp-h3-2 h3 {
    padding: 60px;
    text-align: center;
    font-size: 20px;
}



.ourBootcamp-flex .ourbootcamp-flexStyle p {
    /* padding: 20px; */
    margin: 20px;
    font-size: 14px;

}


.ourBootcamp-flex .ourbootcamp-flexStyle .web2-track_btn button {
    width: 300px;
    height: 45px;
    margin-left: 20%;
    background-color: purple;
    color: white;
    margin-top: 50px;


}


.ourBootcamp-flex .ourbootcamp-flexStyle .web3-track_btn button {
    width: 300px;
    height: 45px;
    margin-left: 20%;
    background-color: purple;
    color: white;
    margin-top: 32%;


}

.more {
    color: white;
    position: relative;
    top: 210%;
    /* margin: 20px; */
}

.more .more-2 {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.more-flex {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin: 30px;
}

/* .more-img_flex {
    display: flex;
} */

.more-flex1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
   
}

/* our journey */

.our-journey {
    color: white;
    position: relative;
    top: 220%;
    /* text-align: center; */
}

.our-journey .our-journey_h2 {
    text-align: center;
    font-size: 20px;
}

.our-journey_flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;
    margin: 50px;
}

.our-journey .our-journey_flex1 {
    border: 1px solid purple;
    height: 350px;
    padding: 9px;
    /* margin: 10; */
    font-size: 18px;
}

.our-journey .our-journey_flex1 .icon-flex .icon {
    border: 1px solid purple;
    border-radius: 1000%;
}

.our-journey .our-journey_flex1 .icon-flex, .icon-flex {
    padding: 5px;
    margin: 20px;
}

.our-journey .our-p  {
    text-align: center;
    bottom: 50px;

}

.our-journey .our-p p  {
    /* text-align: center; */
    bottom: 50%;
    padding: 20px;

}

.our-journey .our-p a, button  {
    top: 50%;
    width: 350px;
    height: 50px;
    background-color: #B74FDD;
    color: white;
    font-size: 16px;

}

.Testimonials {
    color: white;
    position: relative;
    top: 245%;
    /* padding: 50px; */
    /* margin: 50px; */

}

.Testimonials .card-text {
    text-align: center;
    font-size: 20px;
}

.Testimonials .card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    margin: 20px;

}

.Testimonials .card .card-1 {
    border: 1px solid purple;
    width: 900%;
    height: 440px;
    padding: 30px;


}

.Testimonials .card .card-1 img {
    /* text-align: center; */
    margin-left: 100px;
    padding: 10px;
    object-fit: cover;
    width: 150px;
    height: 100px;
    border-radius: 950px;
}

.Testimonials .card .card-1 h4, h5 {
    /* text-align: center; */
    margin-left: 110px;
    padding: 10px;
    font-size: 15px;
}

.Testimonials .card .card-1  h5 {
    /* text-align: center; */
    margin-left: 120px;
    padding: 10px;
    font-size: 10px;
}

.Testimonials .card .card-1 .star {
    padding: 20px;
    text-align: center;
    color: #B74FDD;
}

.Our-Partners {
    position: relative;
    /* color: white; */
    top: 260%;
    

}

.Our-Partners h2 {
    text-align: center;
    color: white;
    font-size: 30px;
}

.Our-Partners .our-partners_img {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 50px;
}

/* next-cohort */

.next-cohort {
    position: relative;
    top: 280%;
    color: white;
    text-align: center;


}

.next-cohort p {
    padding: 20px;
    font-size: 13px;
    

}

.next-cohort h2 {
    font-size: 30px;
}

.faqs {
    position: relative;
    top: 310%;
    color: white;
    text-align: center;
}

.faqs p {
    padding: 20px;
    font-size: 16px;
}

.faqs-pq {
    position: relative;
    top: 306%;
    color: white;
    margin: 50px;
    padding: 30px;
}

.faqs > div, .faqs1 {
    margin-top: 30px;
}

faqs > div, a {
    /* padding: 20px; */
    /* margin-top: 50px; */
    text-decoration: none;
    color: white;
}

/* .faqs > div, .faqs-iconFlex{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
} */


/* .faqs > div, .faqs-iconFlex i{
  padding: 50px;
    
} */

.Subscribe {
    position: relative;
    top: 310%;
    color: white;
    text-align: center;
    
}

.Subscribe h2, p{
    padding: 20px;

}

.Subscribe .input-sub {
    width: 50%;
    height: 40px;
    text-align: start;
    padding: 10px;
    background-color: rgb(38, 39, 39);
    border: 1px solid rgb(122, 126, 126);
    color: rgb(164, 169, 173);
    margin: 20px;
}

.Subscribe .btn-sub {
     width: 50%;
    text-align: center;
    padding: 10px;
    border: 1px solid #B74FDD;
}
